@import "fonts.scss";
@import "mixins.scss";
@import "header.scss";
@import "auth.scss"; 


.subtitle {	
	font: remy(18) $semibold;
	text-transform: uppercase;
	color: $dark-grey;
	letter-spacing: 3.7px;
}

.main-idea-of-block{	
	font: remy(35) $bold;
	text-transform: uppercase;
	color: $dark;
	letter-spacing: 0;
	line-height: 1.05;
}

html {
	font-size: 80%;
}
.content-main-page {
	background: url(../images/lines.png);
	background-position: center;
}
.wrapper { 
	letter-spacing: 2px;
	line-height: 1.571;
	background: white;
	font-family: $regular, sans-serif;  
	.first-screen {
		height: 61vh;
		min-height: 300px;
		position: relative;
		background: url(../images/first-screen-bg.jpg);
		padding: 0 5%;
		color: $lightColor;
		@include bg();
		@extend .flex;
		@include alignBoth(center, center);
		.main-title { 
			max-width: 670px;
			text-transform: uppercase; 
			font: remy(38) $regular;
			line-height: 1.2;
			margin-top: remy(25);
			letter-spacing: 7.5px;
		}
		.main-navigation {
			position: fixed;
			left: 0;
			top: 80px;
			width:  100%; 
			background: white;
			min-height: 100vh;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			@include trans();
			.main-navigation-container {
				list-style: none;
				width: 100%; 
				padding: 1em;
				li {
					padding: 0 .4em;
					margin: 1.4em 1.1em;
				}
				a {
					color: $dark-grey;
					font: remy(16) $regular;
					text-transform: uppercase;
					letter-spacing: 2.2px;
				}
				li.active a {
					font-family: $bold;
				}
			}
		}
	}
	.text-block {
		width: 87%;
		max-width: 700px;
		margin: 0 auto 4.15%; 
		padding: 5.15% 0 1.5rem;
		text-align: center;
		.subtitle { 
			margin-bottom: remy(28);	
		}
		.text {
			font: remy(22) $light;
			color: $light-grey;
			letter-spacing: 1.6px;
		}
	}
	.our-ideology {
		.columns {
			position: relative;
				&:before {
					content: '';
					width: 40px; 
					height: 40px;
					background: transparent;
					position: absolute;
					top: 15%;
					right: 6%;
					border-radius: 50%;
					border: 7px solid $orange;
				}
				&:after {
					content: '';
					width: 75px; 
					height: 75px;
					background: transparent;
					position: absolute;
					top: 4%;
					right: 22%;
					border-radius: 50%;
					border: 9px solid $footer-bt;
				}
			.left {
				margin-top: 13em;
				position: relative;
				z-index: 1;
				background-image: url(../images/ideology.png);
				@include bg();
				.tagline {
					font: remy(26) $semibold;
					color: $dark-grey;
					width: 80%; 
					position: relative;
					z-index: 2;
					max-width: 250px;
					padding: 3.8em .5em .5em 0; 
					line-height: 1.2;
					letter-spacing: 0px;
					min-height: 300px;
					margin-left: 20%;
				}
				&:before {
					content: '';
					width: 82%;
					height: 115%;
					position: absolute;
					top: -36%;
					left: 0;
					background: $green;
					opacity: 0.5;
					z-index: 2;
				}
			}
			.right {
				width: 90%;
				margin: 0px auto;
				position: relative;
				z-index: 1;
				padding: 7.4em 0 0 0.5em;
				background-image: url(../images/plus.png);
				background-size: 94% 45%;
				background-repeat: no-repeat;
				background-position: right 88%;
				.subtitle {
					margin-bottom: remy(23);
				}
				.main-idea-of-block {
					margin-left: -4px;
					.finish {
						color: $orange;
					}
				}
			}
		}
	}
	.meet-the-team {
		margin: 9.2% 0 11%;
		position: relative;
		&:before {
			content: '';
			width: 35px; 
			height: 35px;
			background: transparent;
			position: absolute;
			top: 30%;
			left: 6%;
			border-radius: 50%;
			border: 7px solid $orange;
		}
		&:after {
			content: '';  
			position: absolute;
			top: 3%;
			right: 8%; 
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 40px solid $footer-bt;  


		}
		.confines-width {
			position: relative;
			z-index: 1;
			max-width: 1287px;
		}
		.subtitle {
			margin-bottom: remy(10);
		}
		.team {
			margin: 2.5% 0 17%;
			.partner {
				margin: 15px auto;
				padding: 20px 3%;
				@extend .flex;
				@include alignItems(center);
				.photo {
					width: 90px;
					img {
						max-width: 100%;
						height: auto;
					}
				}
				.personal-info {
					margin-left: remy(24);
					letter-spacing: 0;
					.name {
						font: remy(20) $regular;
						color: $dark-grey;
					}
					.post {
						font: remy(16) $regular;
						color: $light-grey;
						margin-bottom: remy(14);
					}
					.social-links {
						a {
							padding: 0 5px;
						}
					}
				}
				&:nth-child(2) {
					background: $green; 
					.name, .post, a {
						color: $lightColor;
					}
				}
			}
		}
	}
	.our-featured-work {
		text-align: center; 
		padding-bottom: 40px;
		.subtitle {
			 width: 90%;
			 margin: 0 auto remy(17);
		}
		.main-idea-of-block { 
			 width: 90%;
			 max-width: 1100px;	
			 margin: remy(17) auto remy(84);		 
		}
		#gift-slider {
			position: relative;
			.slide { 
				padding: 0 10px;
				border: none;
				outline: none;
				img {
					max-width: 100%;
					height: 100%;
					width: 100%;
					-webkit-object-fit: cover;
					object-fit: cover;
				}
			}
		}
	}

	@import "footer.scss";
}

@import "resize.scss";